(
    name: "cop",
    color: Rgba(
        red: 0.0,
        green: 0.0,
        blue: 1.0,
        alpha: 1.0
    ),
    greeting: [
        "Hey there, champ.",
    ],
    thinking: "...",
    accept: "Thanks.",
    reject: "Nope.",
    accuse: "If I were on duty, you'd be under arrest!",
    request: [({
        Berries: 2.0,
    })],
    attention_type: (
        get_distracted: (1, 500),
        get_focused: (3, 4),
        threshold: 0.1,
    ),
    rep_hit: 30,
)