(
    name: "dumb",
    color: Rgba(
        red: 1.0,
        green: 1.0,
        blue: 0.0,
        alpha: 1.0
    ),
    greeting: [
        "Howdy!",
    ],
    thinking: "Hmm...",
    accept: "That'll do I reckon.",
    reject: "Naw, that's not what I wanted",
    accuse: "Hey, I saw that!",
    request: [
        ({
            SpiderEyes: 10.0,
        }),
        ({
            Berries: 5.0,
        }),
        ({
            GreenMush: 2.0,
            SpiderEyes: 3.0,
        })
    ],
    attention_type: (
        get_distracted: (80, 90),
        get_focused: (1, 500),
        threshold: 0.7
    ),
    rep_hit: 1,
)