(
    name: "normal",
    color: Rgba(
        red: 1.0,
        green: 0.0,
        blue: 0.0,
        alpha: 1.0
    ),
    greeting: [
        "Wonderful weather we're having",
    ],
    thinking: "Hmm...",
    accept: "Ah, perfect!",
    reject: "Uh, no. I don't think that's right",
    accuse: "Hey, what are you trying to pull!",
    request: [({
        SpiderEyes: 10.0,
    })],
    attention_type: (
        get_distracted: (1, 4),
        get_focused: (1, 2),
        threshold: 0.5,
    ),
    rep_hit: 5,
)